@{
    ViewBag.Title = "D3 Index";
}
<script src="http://d3js.org/queue.v1.min.js" type="text/javascript"></script>
<script src="http://d3js.org/topojson.v1.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/d3tests/colorPallete.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/d3tests/constants.js")" type="text/javascript"></script>

<style>
path {
  fill: rgb(217, 217, 217);
  stroke: #fff;
  stroke-linejoin: round;
}
.background {
  fill: none;
  pointer-events: all;
}

div.tooltip {   
  line-height: 30%;
  position: absolute;           
  text-align: left;           
  width: 150px;                  
  height: 250px;                 
  padding: 2px;             
  font: 10px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;     
}
div.tooltip h1 {
  font: 12px sans-serif;  
  text-align: center;  
  margin: 1px;
}
div.tooltip p {
  margin: 1px;
  display:table;
}
</style>

<!--
<h2>Graph01</h2>
<div id="graph01"></div>
<script src="@Url.Content("~/Scripts/d3tests/graph01.js")" type="text/javascript"></script>
-->
<h2>Graph02</h2>
<div id="grafikas2" style="text-align:left;">
    <div class="row">
        <div id="adformMetricSelector" class="span4">
        </div>
        <div id="zoomOutControl" class="span4" style="display:none">
            <button id="zoomOutbutton" class="btn">-Zoom Out</button>
        </div>
    </div>
    <div class="row" id="graph02">
    </div>
</div>

<script src="@Url.Content("~/Scripts/d3tests/graph02.js")" type="text/javascript"></script>

<!--
<script>


        d3.json("/Content/Json/all.json", function (error, all) {
        svg.append("g")
            .attr("class", "countries")
        .selectAll("path")
            .data(topojson.feature(all, all.objects.admin0))
            .enter().append("path")
            .attr("d", path)

      .data(topojson.feature(us, us.objects.counties).features)
    .enter().append("path")
      .attr("d", path)
      .style("fill", function(d) { return fill(path.area(d)); });


        svg.append("path")
            .datum(topojson.feature(all, all.objects.admin0))
            .attr("d", path);



    var width = 960,
        height = 500,
        centered;

    var path = d3.geo.path();

    d3.select("#graph2")
        .attr("width", width)
        .attr("height", height);


    var svg = d3.select("#graph2").append("svg")
        .attr("width", width)
        .attr("height", height);

    svg.append("rect")
        .attr("class", "background")
        .attr("width", width)
        .attr("height", height)
        .on("click", click2);

    var gg = svg.append("g")
        .attr("id", "states");


    d3.json("@Url.Content("~/Content/Json/us.json")", function (error, topology) {
        gg.selectAll("path")
            .data(topojson.feature(topology, topology.objects.states).features)
            .enter().append("g")
            .attr("class", "state")
            .attr("stateID", function (d) { return d.id; })
            .on("click", click2)
            .append("path")
            .attr("d", path);
    });


    function click2(d) {
        var x, y, k;

        if (d && centered !== d) {
            var centroid = path.centroid(d);
            x = centroid[0];
            y = centroid[1];
            k = 4;
            centered = d;
        } else {
            x = width / 2;
            y = height / 2;
            k = 1;
            centered = null;
        }

        var bbb = gg.selectAll("g")
                .classed("state active", centered && function (d) { return d === centered; });

        gg.transition()
            .duration(1000)
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")scale(" + k + ")translate(" + -x + "," + -y + ")")
            .style("stroke-width", 1.5 / k + "px");





    }


</script>
--
    >
<!--
<script>





    var width = 960,
        height = 500;

    var rateById = d3.map();

    var quantize = d3.scale.quantize()
        .domain([0, .15])
        .range(d3.range(9).map(function (i) { return "q" + i + "-9"; }));

    var path = d3.geo.path();

    var svg = d3.select("body").append("svg")
        .attr("width", width)
        .attr("height", height);

    queue()
        .defer(d3.json, "@Url.Content("~/Content/Json/us.json")")
        .defer(d3.tsv, "@Url.Content("~/Content/data/unemployment.tsv")", function (d) { rateById.set(d.id, +d.rate); })
        .await(ready);

    function ready(error, us) {
        svg.append("g")
            .attr("class", "counties")
          .selectAll("path")
            .data(topojson.feature(us, us.objects.counties).features)
          .enter().append("path")
            .attr("class", function (d) { return quantize(rateById.get(d.id)); })
            .attr("d", path);

        svg.append("path")
            .datum(topojson.mesh(us, us.objects.states, function (a, b) { return a !== b; }))
            .attr("class", "states")
            .attr("d", path);
    }

/////////////////////////////
var txt = '{"colors":[' +
'{"range":"10000","color":"yellow" },' +
'{"range":"20000","color":"green" },' +
'{"range":"30000","color":"red" }]}';

var obj = eval ("(" + txt + ")");

<table border="1">
<tr>
<td bgcolor="#FFFF00"></td>
<td bgcolor="#00FF00"></td>
<td bgcolor="#FF0000"></td>
</tr>
<tr>
<td>document.getElementById("range").innerHTML=obj.colors[0].range</td>
<td>document.getElementById("range").innerHTML=obj.colors[1].range</td>
<td>document.getElementById("range").innerHTML=obj.colors[2].range</td>
</tr>
</table> 


//document.getElementById("range").innerHTML=obj.colors[0].range 
//document.getElementById("color").innerHTML=obj.colors[0].color
//document.getElementById("range").innerHTML=obj.colors[1].range 
//document.getElementById("color").innerHTML=obj.colors[1].color 
//document.getElementById("range").innerHTML=obj.colors[2].range 
//document.getElementById("color").innerHTML=obj.colors[2].color  


//for(var i=0; i<3;i++){
//document.getElementById("range").innerHTML=obj.colors[i].range
//document.getElementById("color").innerHTML=obj.colors[i].color
//}

////////////////////////////////////////////////////////

</script>

-->